
#play-pause-btn {
  background-image: url('../video_player/icons/play-icon.png');
  background-size: 80%; 
}

#volume-icon-btn {
  background-image: url('../video_player/icons/volume-off-icon.png');
  background-size: 100%; 
  }

#fullscreen-btn {
   background-image: url('../video_player/icons/fullscreen-icon.png');
   background-size: 100%;  
}

#play-pause-btn, #volume-icon-btn, #fullscreen-btn,
#closedcaption-btn, #video-speed-btn 
{
  background-repeat: no-repeat; 
  background-color: transparent; 
  outline: none; 
  border: none;
  height: 20px; 
  background-position: center; 
}

#closedcaption-btn, #video-speed-btn {
    background-color: transparent; 
    color: white; 
}

#media-controls { 
   
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    height: 20px;  
    width: 100%; 
    display: none; 
    position: relative; 
    top: 20px; 
}

.video-container {

  &:hover {
      #media-controls {
        display: flex; 
      }
      
      .player-container {
        height: 45px; 
        }
    }
  
}

track {
  margin-bottom: 50px; 
}

#volume-slider {
  display: none;  
}

.font-size-slider {
  display: none;
}

#text-slider {
  display: none; 
}

.volumeBox {
  position: relative; 
  height: 30px; 
  width: 30px; 
  left: 150px; 
  bottom: 60px; 
 
  border-radius: 50% 50%; 
  color: white;
  
}

.highlight {
  color: blue; 
  text-align: center; 
  width: 100%; 
  border: solid 5px black; 
}

.time-counter {
      display: flex; 
      flex-basis: 45%; 
      align-items: center; 
      margin-left: 5%; 
     
      .current {
            margin-right: 5%; 
        }
  
      .duration {
            margin-left: 5%; 
        }
  
      span    {
          font-size: 1em; 
          display: inline-block; 
        }
}

span {
  display: inline-block; 
}

.dblClick, .singleClick {
    width: 120px; 
    height: 15px; 
    margin: 0 auto; 
    display: block;
    padding-bottom: 0; 
    font-size: .5em;
}


